*.DS_Store
*.log
nohup.out
*.jar
*.class
/build/
/.settings/
/target/**
/.classpath
/.project
.externalToolBuilders/
.idea
*.iml
*.ipr
*.iws
/.gradle/
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties
.gradletasknamecache
/out/
/classes/
/file:/
*.db
/server/
/coverage/
